@model BilheticaAeronauticaWeb.Models.AirportViewModel

@{
    ViewData["Title"] = "Create";
}
</br>
<h1>Add airport</h1>


<hr />
<div class="row">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label">Country</label>
                <select asp-for="CountryId" id="CountryId" asp-items="ViewBag.Countries" class="form-control">
                    <option value="">Select a country</option>
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label">City</label>
                <select asp-for="CityId" id="CityId" asp-items="ViewBag.Cities" class="form-control">
                    <option value="">Select a city</option>
                </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*             <label asp-for="FlagImageFile" class="control-label"></label>
            <input asp-for="FlagImageFile" class="form-control" type="file" />
            <span asp-validation-for="FlagImageFile" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Create" asp-controller="Countries" class="btn btn-primary">Add Country</a>    
    <a href="#" class="btn btn-primary" id="addCityBtn">Add City</a>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script type="text/javascript">
        $(document).ready(function () {
            $("#CountryId").change(function () {
                $("#CityId").empty();
                $.ajax({
                    url: '@Url.Action("GetCitiesAsync", "Airports")',
                    type: 'POST',
                    dataType: 'json',
                    data: {countryId:$("#CountryId").val()},
                    success: function (cities) {
                        debugger;
                        $("#CityId").append('<option value="0">(Select a city...)</option>');
                        $.each(cities, function (i, city) {
                            $("#CityId").append('<option value="'
                                + city.id + '">'
                                + city.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        debugger;
                        alert('Failed to retrieve cities.' + ex);
                    }
                });
                return false;
            })
        });
    </script>

    <script>
        document.getElementById("addCityBtn").addEventListener("click", function (e) {
            const countryId = document.getElementById("CountryId").value;

            if (!countryId) {
                alert("Please select a country first.");
                e.preventDefault();
                return;
            }

            window.location.href = `/Countries/AddCity?countryId=${countryId}`;
        });
    </script>

        }